decorators

In [1]:
a = {
    "name": "koustubh atram",
    "age": 20,
    "salary": 700000
}

In [2]:
type(a)

dict

In [3]:
a.keys()

dict_keys(['name', 'age', 'salary'])

In [4]:
a.values()

dict_values(['koustubh atram', 20, 700000])

In [5]:
a.items()

dict_items([('name', 'koustubh atram'), ('age', 20), ('salary', 700000)])

In [6]:
for key, value in a.items():
    print(f"{key} : {value}")

name : koustubh atram
age : 20
salary : 700000

In [7]:
def function(**kwargs):
    print(kwargs)
    print(type(kwargs))
    for key, value in kwargs.items():
        print(f"{key} : {value}")

In [8]:
function(name="krushna",age=21)

{'name': 'krushna', 'age': 21}
<class 'dict'>
name : krushna
age : 21

In [9]:
function(name="atharva",age=21,course="mba",fees=200000)

{'name': 'atharva', 'age': 21, 'course': 'mba', 'fees': 200000}
<class 'dict'>
name : atharva
age : 21
course : mba
fees : 200000

In [10]:
menu = {
    "noodles": 90,
    "manchurian": 100,
    "soup": 60,
    "triple rice": 180,
    "rolls": 80
}

In [11]:
menu.get("rolls")

80

In [13]:
menu.get("triple rice")

180

In [15]:
def bill(order_no, **kwargs):
    # Print table number
    print(f"Table number - {order_no}")
    #intializing amt
    amt = 0
    # Apply for loop on kwargs
    for food, qty in kwargs.items():
        price = menu.get(food)
        if price is not None:
            subtotal = price*qty
            amt += subtotal
        print(f"Food item - {food}, qty- {qty}, price - {price} INR, subtotal - {subtotal} INR")
    # Show the final bill
    print(f"Final Bill is : {amt} INR")
    return amt

In [17]:
c1 = bill(
    order_no=1,
    soup=2,
    rolls=2,
    manchurian=1,
)

Table number - 1
Food item - soup, qty- 2, price - 60 INR, subtotal - 120 INR
Food item - rolls, qty- 2, price - 80 INR, subtotal - 160 INR
Food item - manchurian, qty- 1, price - 100 INR, subtotal - 100 INR
Final Bill is : 380 INR

In [18]:
c1

380

In [22]:
c2 = bill(
    order_no=2,
    soup=3,
    noodles=3,
    rolls=4,
)

Table number - 2
Food item - soup, qty- 3, price - 60 INR, subtotal - 180 INR
Food item - noodles, qty- 3, price - 90 INR, subtotal - 270 INR
Food item - rolls, qty- 4, price - 80 INR, subtotal - 320 INR
Final Bill is : 770 INR

In [23]:
c2

770